<h1> Student Form </h1>
<%= form_tag '/students' do %>
  <%= text_field_tag :first_name, params[:first_name] %>
  <%= text_field_tag :last_name, params[:last_name] %>
  <input type="submit" value="Submit Student">
  <%=link_to "student",@student %>
<% end %>
